<!DOCTYPE html>
<html>
  <head>
    <title> Quiz </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p> Bienvenido a Quiz </p>

    <a href="/quizzes"> Quizzes </a>
    <a href="/credits"> Autores </a>

  </body>
</html>
