<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Quiz </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

<h1> Autores: </h1>

<a href="/"> Inicio </a>



<p> La autora de esta página es SUSANA Fernández Redondo </p>

<img src="/images/susana.png" width="175" />

</body>
</html>