<!doctype html>
<html>
  <head>
    <title> Quiz </title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>

        <h1>The Quiz Site</h1>

        <nav>
            <a href="/"> INICIO </a>
            <a href="/credits"> Autor </a>
            <a href="/quizzes"> Quizzes </a>
        </nav>

        <section>
            <div>
                <%- body%>
            </div>
        </section>

    </body>
</html>
